.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    'titleSeoApp'
    'mainWrapper'
    'footer';
    min-height: 100vh;
}

.titleSeoApp{
    grid-area: titleSeoApp;
    min-height: 100vh;
    color: white;
}

.mainWrapper{
    grid-area: mainWrapper;
}

.footer{
    grid-area: footer;
}