.inputWrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.label{
    font-weight: 400;
    font-style: normal;
}

.darkLabel{
    color: var(--black-light);
}

.lightLabel{
    color: var(--white);
}

.largeLabel{
    font-size: 16px;
    line-height: 25.6px;
}

.mediumLabel{
    font-size: 14px;
    line-height: 21px;
}

.smallLabel{
    font-size: 12px;
    line-height: 18px;
}

.disabledLabel{
    color: rgba(66, 69, 81, 0.6);
}

.inputContainer{
    display: flex;
}

.input{
    border-radius: 4px;
    border: 1px solid var(--input-border);
    background: var(--input-background);
}

.input::placeholder{
    color: var(--gray);
}

.disabledFilled::placeholder,
.disabledEmpty::placeholder{
    color: var(--input-placeholder);
}